<div>
<script src="https://giscus.app/client.js"
        data-repo="peers8862/reboot"
        data-repo-id="R_kgDON86E5w"
        data-category="page-chats"
        data-category-id="DIC_kwDON86E584CnJpI"
        data-mapping="specific"
        data-term="PAGE_TITLE_OR_URL"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>
