---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

<div class="content">
  {{ content }}
</div>

<script src="https://giscus.app/client.js"
        data-repo="peers8862/reboot"
        data-repo-id="R_kgDON9JUVw"
        data-category="General"
        data-category-id="DIC_kwDON9JUV84CnKzm"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
